:global(.MuiSvgIcon-root).upload__close_icon {
  height: var(--spacing-xxl);
  width: var(--spacing-xxl);
}

.upload__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload__dialogBox :global(.MuiDialog-paper) {
  max-width: calc(10 * var(--spacing-14xl));
}

.upload_file {
  background: var(--color-white);
  width: calc(10 * var(--spacing-11xl));
  border-radius: var(--border-radius-md);
  border: var(--spacing-2) solid var(--color-grey200);
  padding: var(--spacing-xl);
  cursor: pointer;
}

.upload_file_selected {
  background: var(--color-grey100);
}

:global(.MuiButton-root).upload__cancelButton {
  border: none;
  color: var(--color-blue200);
  background-color: transparent;
}
